
body
{
    background: #3f3752;
    color: white;
}
.home{
    position: absolute;
    left: 10px;
    top: 10px;
}

.out{
    position: absolute;
    right: 10px;
    top: 10px;
}

.class{

    align-items: center;
    display: grid;
    grid-area: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4vw;
    color: azure;

}
.test {

    align-items: center;
    background: #51446e;
    min-height: 500px;
    max-height: 500px;
    border-radius: 25px;
    transition: 0.2s;
    border: 5px #111111;



}
.test2{
    text-align: center;
    transition: 0.2s;
}
.hop{
    margin: 15px;
}

.test:hover{
    border: 5px #111111;
    background: #ffb508;
    transition: 0.2s;
    color: #111;
}


.dives{
    width: 100%;
    background: #43f390;
    border-radius: 25px;
    color: #111111;

}

.mycss{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    background: transparent;
    border-radius: 30px;
}
.mycss2{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    background: #0e0e0e;
    border-radius: 30px;
}